# Dependencies
node_modules/
.venv/
env/
__pycache__/
*.pyc

# Environment variables
.env

# Datasets and Large Files
# [KEEP] Specific Large folders are excluded, but we'll allow JSONs
XRAY_TB/
"PDF Data/"
tb_text_Dataset/
*.zip
*.pdf
# [KEEP] We want the .part chunks to stay
!*.part*

# [IGNORE] Ignore the raw large binaries that stay in local
# They will be reassembled on Railway from .part files
backend/vector_db_faiss/*.index
backend/vector_db_faiss/*.pkl
backend/tb_expert.db
backend/vector_db_chromadb_backup/

# Editor files
.vscode/
.idea/
.DS_Store
